<%- include('partials/header.ejs'); %>

		<div>
			<form action="/login" method="POST" style="width: 20%; margin: 5% auto">
				<label style="font-size: 20px">Login</label>
				<div class="form-group">
					<input type="text" class="form-control" name="username" placeholder="username" aria-describedby="emailHelp">
				<div class="form-group">
					<input type="password" class="form-control" name="password" placeholder="password">
				</div>
				<button type="submit" class="btn btn-primary" value="login!" style="margin: 10px 30%; width: 40%">Submit</button>
			</form>

		</div>
		

		<img src="https://pngimage.net/wp-content/uploads/2018/06/footer-images-png-2.png" style="z-index: 0; position: fixed; bottom: 0; width: 100%; height : 400px">



<%- include('partials/footer.ejs'); %>